*root{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
}

.outer-stats-container{
    border: solid red;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    padding: 20px;
    margin: 20px;
}

.sold-stat{
    border: solid green;
    display: flex;
    flex-direction: column;
    flex-basis: auto;
    padding: 20px;
    width: auto;
}

.purchased-stat{
    border: solid blue;
    display: flex;
    flex-direction: column;
    flex-basis: auto;
    padding: 20px;
    width: auto;
}

.stock-stat{
    border: solid orange;
    display: flex;
    flex-direction: column;
    flex-basis: auto;
    padding: 20px;
    width: auto;
}

.soldCount {
 color: green;
}

.purchasedCount {
    color: blue;
}

.totalStock {
    color: red;
}

.outer-container {
    border: solid purple;
    background-color: lightgrey;

    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    flex-wrap: nowrap;

    flex-basis: 1200px;
    flex-grow: 0;
    flex-shrink: 1;
    margin: 20px;
}

.tv-image-wrapper {
    border: solid red;
    display: flex;
    flex-direction: column;
    flex-basis: auto;
    flex-grow: 0;
    flex-shrink: 1;
    padding: 20px;
}

.tv-image{
    width: 100%;
}

.inner-container {
    border: solid blue;

    display: flex;
    flex-direction: column;
    align-items: flex-start;
    flex-wrap: wrap;

    flex-basis: 480px;
    flex-grow: 0;
    flex-shrink: 0;
    padding: 20px;
}

.feature-buttons{
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    gap: 10px;

    align-items: baseline;
}

.buttons{
    width: 15px;
    height: 15px;
}